
h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 58px;
}

h2 {
    font-size: 32px;
}

h3 {
    margin-top: 10px;
    font-size: 24px;
}

section {
    padding: 10px 20px;
}

section .content p {
    margin: 15px 0;
}

body section:first-of-type {
    padding-top: 20px;
}

section .content .caption, #overview .caption {
    font-style: italic;
    font-size: 14px;
    margin: 0;
    max-width: 40%;
}

section .content .caption i {
    font-style: normal;
}

section .content img {
    width: 50%;
}

#overview img {
    width: 67%;
}

#overview img:not(:first-of-type) {
    margin-top: 25px;
}

section .content img.smaller {
    width: 40%;
}

.two-col.content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
}

.two-col.content .left {
    width: 25%;
}

.two-col.content .left img {
    width: 100%;
    margin-top: 20px;
}

.two-col.content .right {
    width: 70%
}

.two-col.content h2 {
    margin-top: 20px;
}

.serif {
    font-family: 'Times New Roman', sans-serif;
    line-height: 2;
    padding: 0 25px;
    white-space: pre-wrap;
}
