
ul {
    margin: 5px 0;
}

.show-content {
    display: inline-block;
    user-select: none;
    margin: 7px 0;
}

.show-content + p {
    margin-top: 0;
}

.show-content:hover {
    color: #333;
}

.show-content:hover i {
    transform: rotate(20deg);
}

.show-content.active:hover i {
    transform: rotate(160deg);
}

.show-content i {
    transition: transform 0.5s;
    transform: rotate(0deg);
}

.show-content.active i {
    transform: rotate(180deg);
}

.show-content.active ~ * {
    display: none;
}

.brinton h3 + p {
    margin: 14px 0 8px;
}
